@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.appContainer {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin: 0;
}

.appButton {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 4px;
  font-size: 14px;
  font-weight: 600;
  color: "[theme:white, default:#ffffff]";
  background-color: "[theme:themePrimary, default:#ca5010]";
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  min-width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
  &:hover {
    background-color: "[theme:themeDark, default:#a74109]";
  }
  
  i {
    margin-right: 6px;
  }
}
